{% extends "base.html" %}

{% block page_css %}
<style>
  .btn-check+label {
    opacity: 0.5;
  }

  input[type="radio"]:checked+label {
    outline: 3px solid black;
    opacity: 1;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 680px;">
  <div class="border rounded-3 p-4 shadow-sm">
    <h1>新規スレッド作成</h1><br>
    <h6>トレーニング目標とその趣旨を入力してください。</h6><br>
    <form action="{{ url_for('create_thread') }}" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="mb-3">
        <label for="trainingGoal" class="form-label">トレーニング目標</label>
        <input type="text" class="form-control" id="trainingGoal" name="title">
      </div>

      <!-- 画像投稿フォーム -->
      <div class="mb-3">
        <label for="thread_image" class="form-label">画像</label>
        <input type="file" class="form-control" id="thread_image" name="image" accept="image/*">
      </div>

      <div class="mb-3">
        <label class="form-label">趣旨</label><br>

        <input type="radio" class="btn-check" name="theme" id="theme1" value="1" autocomplete="off">
        <label class="btn" for="theme1" style="background-color:#32a89d; color:white;">ゆるゆる</label>

        <input type="radio" class="btn-check" name="theme" id="theme2" value="2" autocomplete="off">
        <label class="btn" for="theme2" style="background-color:#2bd97c; color:white;">ゆる</label>

        <input type="radio" class="btn-check" name="theme" id="theme3" value="3" autocomplete="off">
        <label class="btn" for="theme3" style="background-color:#ffc107; color:white;">普通</label>

        <input type="radio" class="btn-check" name="theme" id="theme4" value="4" autocomplete="off">
        <label class="btn" for="theme4" style="background-color:#f0430a; color:white;">ガチ</label>

        <input type="radio" class="btn-check" name="theme" id="theme5" value="5" autocomplete="off">
        <label class="btn" for="theme5" style="background-color:#f00ae4; color:white;">ガチガチ</label>
      </div><br>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">作成</button>
        <a href="{{ url_for('threads_view') }}" class="btn btn-secondary">キャンセル</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}