<footer className="app-footer">
    {% if session.get('user_id') %}
    <div className="footer-content">
        <div className="footer-nav">
            <!-- 新しいスレッドを作成 -->
            <button aria-label="新しいスレッドを作成" class="nav-button active" data-view="threads/new">
                <i data-lucide="pencil" class="nav-icon"></i>
            </button>
            <!-- 新しいツイートを作成　※追加機能 -->
            <button aria-label="新しいツイートを作成" class="nav-button active" data-view="tweets/new">
                <i data-lucide="message-square" class="nav-icon"></i>
            </button>
            <!-- 自分のスレッド -->
            <button aria-label="自分のスレッド" class="nav-button active" data-view="me/threads">
                <i data-lucide="history" class="nav-icon"></i>
            </button>
            <!-- フォロー　※追加機能 -->
            <button aria-label="フォロー" class="nav-button active" data-view="follows">
                <i data-lucide="users" class="nav-icon"></i>
            </button>
        </div>
    </div>
    {% endif %}
    <div>© 2026 Hackathon 2026 Spring H</div>
</footer>
