<header className="app-header">
    <div class="header-inner">
        <div className="header-logo">
            <div className="header-title">
                <a href="{{ url_for('posts_view') }}" class="logo">
                    <i data-lucide="dumbbell" class="header-logo-icon"></i>ゆるトレボード
                </a>
            </div>
            {% if session.get('user_id') %}
            <div className="header-content">
                <div className="header-nav">
                    <!-- ホーム -->
                    <button aria-label="ホーム" class="nav-button active" data-view="threads">
                        <i data-lucide="home" class="nav-icon"></i>
                    </button>
                    <!-- ツイート　※追加機能 -->
                    <button aria-label="ツイート" class="nav-button active" data-view="tweets">
                        <i data-lucide="messages-square" class="nav-icon"></i>
                    </button>
                    <!-- マイページ -->
                    <button aria-label="マイページ" class="nav-button active" data-view="me">
                        <i data-lucide="user" class="nav-icon"></i>
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>
